In [9]:
# Write a Python program to triple all numbers of a given list of integers. Use Python map
L=[1,2,3,4]
a= lambda element:element*3
list(map(a,L))

[3, 6, 9, 12]

In [14]:
# Write a Python program to add three given lists using Python map and lambda
L1=[1,2,3]
L2=[4,5,6]
L3=[7,8,9]
list(map(lambda a,b,c:a+b+c,L1,L2,L3))

[12, 15, 18]

In [24]:
# Write a Python program to add two given lists and find the difference between lists

"""
sample list
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]


output  - [(6, 6), (6, 4), (10, -4), (16, 2)]

"""
def add_sub(x,y):
    return x+y,x-y

nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]
output = map(add_sub,nums1,nums2)
print("\nOutput - ")
print(list(output))

Output -
[(6, 6), (6, 4), (10, -4), (16, 2)]

In [110]:
# Write a Python program to convert all the characters in uppercase and lowercase and 
#eliminate duplicate letters from a given sequence

string = "Write a Python Program to convert all the character in uppercase and LowerCase"
seq = set(string) 
def __lowupp__(seq):
    return seq.upper(),seq.lower()
list(map(__lowupp__,seq))

[('R', 'r'),
 ('I', 'i'),
 ('S', 's'),
 ('A', 'a'),
 ('L', 'l'),
 ('W', 'w'),
 ('O', 'o'),
 ('V', 'v'),
 ('H', 'h'),
 ('L', 'l'),
 ('U', 'u'),
 ('M', 'm'),
 ('G', 'g'),
 (' ', ' '),
 ('C', 'c'),
 ('P', 'p'),
 ('D', 'd'),
 ('N', 'n'),
 ('P', 'p'),
 ('Y', 'y'),
 ('C', 'c'),
 ('E', 'e'),
 ('W', 'w'),
 ('T', 't')]

In [31]:
# Filter out the fruits that start with A 
test_list = ['Apple', 'orange', 'smango', 'grape','Amla','Anaar']
list(filter(lambda fruits:fruits.startswith('A'),test_list))

['Apple', 'Amla', 'Anaar']

In [35]:
# Filter out the positve number from a list
num_list=[1,2,3,-4,-7,0,21,-21]
list(filter(lambda x:x >= 0,num_list))

[1, 2, 3, 0, 21]

In [37]:
# filter out the multiples of 3 and 5 from a list
mul_list = [3,10,5,12,67,23,30,15,90]
list(filter(lambda x: x%3==0 and x%5==0,mul_list))
# Multiple of 3 and 5 is 30,15 &90

[30, 15, 90]

In [42]:
from functools import reduce

In [46]:
# find the max string using reduce function
st= ["Hello",'lemon','Holi','abc','xzyvvzplk']
reduce(lambda x,y:x if x>y else y,st)
# We can use below function to check string value---- __strval__(st)

'xzyvvzplk'

In [91]:
# find the mean , max and min of a given list using reduce function
nlist=[1,2,3,4,59,30,102,8,0,-3]
Mean= reduce(lambda x,y:x+y,nlist)/len(nlist)
Max= reduce(lambda x,y:x if x > y else y,nlist)
Min= reduce(lambda x,y:x if x < y else y,nlist)
print(f"Mean= {Mean},Max= {Max},Min= {Min}")

Mean= 20.6,Max= 102,Min= -3

In [115]:
#####################################################End########################################################################
##################################################Rough Work#################################################################################
"""
lst= ['asdf','aert','jnnd','a']
def __strval__(lst):
    for word in lst:
        sum=0
        for ch in word:
            sum+= ord(ch)
        print(sum)
"""

"\nlst= ['asdf','aert','jnnd','a']\ndef __strval__(lst):\n    for word in lst:\n        sum=0\n        for ch in word:\n            sum+= ord(ch)\n        print(sum)\n"